@page "/erna"
<PageTitle>Erna Versies en Versies vir Erna</PageTitle>
<body>
    @* <img src="images/erna-volg.png" alt="erna-volg" width="400" height="768" /> *@
    <div>
        <h1 style="font-family: courier;"><b>Volg</b></h1>

        <p style="font-family: courier;">
            veertig minute eerste saam<br>
            was dit ooit so lank Lief?<br>
            tog in alles eerlik kon word<br>
            jy en ek sodat ek kan sê<br>
            <br>
            om met my vinger die kontoer<br>
            van jou gesig te volg<br>
            om die blik van jou oë<br>
            met my oë te volg<br>
            <br>
            om met my hande jou hare<br>
            se klein golfies te volg<br>
            om jou warm asem<br>
            op my gesig te volg<br>
            <br>
            om met my arms jou rug<br>
            se mooie vorm te volg<br>
            om jou voelende vingers<br>
            warm op my vel te voel<br>
            <br>
            om met my lyf jou lyf<br>
            se diep warmte te volg<br>
            om te voel hoe jy voel<br>
            met ons saam se wees<br>
        </p>
        <br>
        <br>
        <br>
        <h1 style="font-family: courier;"><b>Herkenning – Lina Spies</b></h1>
        <br>
        <p style="font-family: courier;">
            Ek sal jou herken met lede oë<br>
            van stip staar<br>
            agter ooglede van wakkerlê.<br>
            <br>
            Ek sal jou herken met bly oë<br>
            van opkyk na ‘n wolk<br>
            in hierdie leë ruim.<br>
            <br>
            Ek sal jou herken blind<br>
            van ‘n Omar Khayyám-maan<br>
            bo hierdie somerstad van baie nagte<br>
            wat ek oorleef met cliché’s<br>
            en ‘n tuin van vriende.<br>
            <br>
            Ek sal jou herken met die oë<br>
            wat ek afslaan na die Boland<br>
            as die vliegtuig my wegvoer<br>
            van die reuk van diesel en jasmyn,<br>
            Sta-Soft en sweet, stof en smart.<br>
            <br>
            Ek sal jou herken met die oë<br>
            wat ek toemaak as ek bid<br>
            met ‘n tong<br>
            wat aan my verhemelte vassit:<br>
            <br>
            Durf, durf ek vir God sê<br>
            dat ek jou in meer as net my oë<br>
            terug wil hê?
        </p>

    </div>

</body>
@* <h1>Little Front End for the Melektro Api</h1> *@
@* <img src="images/erna-volg.png" alt="erna-volg" width="400" height="768" /> *@

@code {

}
